<section class="login">
    <mat-progress-bar class="login__progress" *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <p class="login__title">Sign in</p>
    <form action="" method="post" class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-error class="form__error" *ngIf="error">{{ error | sentenceCase }}</mat-error>
        <mat-form-field class="form__field">
            <mat-label>User name</mat-label>
            <input matInput formControlName="username">
            <i matPrefix class="far fa-user-alt input-icon"></i>
            <mat-error *ngIf="f.username.errors?.required">User name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="form__field">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
            <i matPrefix class="far fa-lock-alt input-icon"></i>
            <mat-error *ngIf="f.password.errors?.required">Password is required</mat-error>
        </mat-form-field>
        <button class="form__btn" mat-raised-button [disabled]="loading">Sign in</button>
    </form>
</section>