$grid-width: 1140px;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$color-secondary: #fd9f33;
$color-primary: #550307;
$color-tertiary: #538fdd;

$color-white: #fff;
$color-black: #000;
$color-grey-1: #333;
$color-grey-2: #5f6368;
$color-grey-3: #888;
$color-purple: #373758;

$card-0: #38ca2d;
$card-1: #F9688D;
$card-2: #FBB508;
$card-3: #ff6347;
$card-4: #12d3d3;
$card-5: #8b4513;
$card-6: #534859;
$card-7: #4E549B;

$color-green: #16c716;
$color-red: #c7372c;
$color-yellow: #e1a223;

$color-footer-secondary: #2a2a2a;

$footer-height: 35rem;
$gutter-horizontal: 6rem;